﻿@model IDictionary<LeagueViewModel, IEnumerable<MatchViewModel>>
@inject IUnitOfWork unitOfWork;
@inject SignInManager<User> signInManager;
@using Consts;

@section Styles {
    <link href="~/css/matches.css" rel="stylesheet" />
    <link href="~/css/leagues.css" rel="stylesheet" />
}

@{
    User user = null;

    if (signInManager.IsSignedIn(User))
    {
        user = await unitOfWork.AccountService.GetByIdAsync(User.FindFirst(ClaimTypes.NameIdentifier).Value);
    }

    var sportId = Model.First().Key.LeagueSportId;
}

<div class="outer-match-added-div">
    <div class="inner-match-added-div">
        <div id="content">
        </div>
    </div>
</div>
<div class="column-special-container-manage-league">
    <div id="select-options" class="flex-row-manage-league">
        <span id="league-options-text">Select from the options:</span><img id="img-cross-close-manage-league" src="~/imges/darker_cross.png" />
    </div>
    <div id="manage-league" class="flex-row-manage-league">
        <img class="manage-league-star-img" src="~/imges/full_star.png"><span class="manage-league-text">Remove this league from My Leagues!</span>
    </div>
    <div id="manage-league-matches" class="flex-row-manage-league">
        <img /><span class="manage-league-matches-text">Add all games to favorite</span>
    </div>
</div>
<div class="outerContainer">
    <div class="innerContainer">
        <div class="content">
            Click for match details
        </div>
    </div>
</div>

@foreach (var kvp in Model)
{
    <div class="special-container-league">
        <div id="@kvp.Key.LeagueId" class="league-star-div">
            @if (user != null && user.Leagues.FirstOrDefault(l => l.Id == kvp.Key.LeagueId) != null)
            {
                <img id="@kvp.Key.LeagueId" class="league-star-img" src="~/imges/full_star.png" alt="starForFavoriteMatches" />
            }
            else
            {
                <img id="@kvp.Key.LeagueId" class="league-star-img" src="~/imges/empty_star.png" alt="starForFavoriteMatches" />
            }
        </div>
        <div>
            <img class="country-flag" src="@kvp.Key.LeagueCountryFlagPhotoUrl" alt="countryFlag" />
        </div>
        <div class="country-name-div">
            <span class="country-name">@kvp.Key.LeagueCountryName.ToUpper():</span>
        </div>
        <div class="league-name-div">
            <a class="league-name" asp-controller="Leagues" asp-action="GetById" asp-route-leagueId="@kvp.Key.LeagueId"><span>@kvp.Key.LeagueName</span></a>
        </div>
    </div>

    @foreach (var match in kvp.Value)
    {
        <hr />
        <div class="special-container-match" style="position:relative;">
            <div id="@match.MatchId" class="match-star">
                @if (user != null && user.FavoriteMatches.FirstOrDefault(m => m.Id == match.MatchId) != null)
                {
                    <img id="@kvp.Key.LeagueId" class="match-star-img" src="~/imges/full_star.png" />
                }
                else
                {
                    <img id="@kvp.Key.LeagueId" class="match-star-img" src="~/imges/empty_star.png" />
                }
            </div>
            <div id="@match.MatchId" class="match-div">
                <div class="special-container-match">
                    @switch (match.MatchStatusId)
                    {
                        case MatchStatusIdsConsts.SHEDULED:
                            <div class="match-info" id="match-starting-time" matchId="@match.MatchId">@match.StartingTime</div>
                            break;
                        case MatchStatusIdsConsts.FINISHED:
                            <div class="match-info" id="match-finished" matchId="@match.MatchId">Finished</div>
                            break;
                        case MatchStatusIdsConsts.IN_PLAY:
                            if (match.FirstHalfCurrMinute == null && match.SecondHalfCurrMinute == null)
                            {
                                <div class="match-info">
                                    <span class="half-time">Half-time</span>
                                </div>
                            }
                            else if (match.FirstHalfCurrMinute != null)
                            {
                                <div class="match-info">
                                    <span class="match-info-curr-minute">
                                        <span class="curr-minute" matchId="@match.MatchId">@match.FirstHalfCurrMinute</span><span class="tick-sign" matchId="@match.MatchId">'</span>
                                    </span>
                                </div>
                            }
                            else
                            {
                                <div class="match-info">
                                    <span class="match-info-curr-minute" matchId="@match.MatchId">
                                        <span class="curr-minute" matchId="@match.MatchId">@(45 + match.SecondHalfCurrMinute)</span><span class="tick-sign">'</span>
                                    </span>
                                </div>
                            }
                            break;
                        default:
                            throw new ArgumentException();
                    }
                    <div>
                        <div>
                            <img class="team-flag" src="@match.HomeTeamFlagPhotoUrl" /><span class="home-team-name" matchId="@match.MatchId">@match.HomeTeamName</span>
                        </div>
                        <div>
                            <img class="team-flag" src="@match.AwayTeamFlagPhotoUrl" /><span class="away-team-name" matchId="@match.MatchId">@match.AwayTeamName</span>
                        </div>
                    </div>
                    @if (match.MatchStatusId == MatchStatusIdsConsts.SHEDULED)
                    {
                        @if (!match.HasPreview)
                        {
                            <div class="dashes">
                                <div>
                                    -
                                </div>
                                <div>
                                    -
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="rectangle-preview"><a><span id="preview">PREVIEW</span></a></div>
                        }
                    }
                    else if (match.MatchStatusId == MatchStatusIdsConsts.FINISHED)
                    {
                        <div class="match-result" matchId="@match.MatchId">
                            <div class="match-final-result" matchId="@match.MatchId">
                                <div>
                                    @(match.FirstHalfHomeGoalsCount + match.SecondHalfHomeGoalsCount)
                                </div>
                                <div>
                                    @(match.FirstHalfAwayGoalsCount + match.SecondHalfAwayGoalsCount)
                                </div>
                            </div>
                            <div class="match-first-half-result">
                                <div>
                                    (@(match.FirstHalfHomeGoalsCount))
                                </div>
                                <div>
                                    (@(match.FirstHalfAwayGoalsCount))
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (match.FirstHalfCurrMinute == null)
                        {
                            <div class="match-result">
                                <div class="match-current-result" matchId="@match.MatchId">
                                    <div>
                                        @(match.FirstHalfHomeGoalsCount + match.SecondHalfHomeGoalsCount)
                                    </div>
                                    <div>
                                        @(match.SecondHalfHomeGoalsCount + match.SecondHalfAwayGoalsCount)
                                    </div>
                                </div>
                                <div class="match-first-half-result">
                                    <div>
                                        (@(match.FirstHalfHomeGoalsCount))
                                    </div>
                                    <div>
                                        (@(match.FirstHalfAwayGoalsCount))
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="match-result">
                                <div class="match-current-result" matchId="@match.MatchId">
                                    <div>
                                        @(match.FirstHalfHomeGoalsCount)
                                    </div>
                                    <div>
                                        @(match.FirstHalfAwayGoalsCount)
                                    </div>
                                </div>
                                <div class="match-first-half-result">
                                    <div>
                                        (@(match.FirstHalfHomeGoalsCount))
                                    </div>
                                    <div>
                                        (@(match.FirstHalfAwayGoalsCount))
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    @if (match.MatchStatusId == MatchStatusIdsConsts.IN_PLAY)
                    {
                        <div matchStatusId="@match.MatchStatusId" class="live-bet" id="live-match"><span id="live">LIVE</span></div>
                        <div matchStatusId="@match.MatchStatusId" class="live-bet" id="live-match" style="display:none"><span id="bet">BET</span></div>
                    }
                    else if (match.MatchStatusId == MatchStatusIdsConsts.SHEDULED)
                    {
                        <div class="live-bet"><span id="live">LIVE</span></div>
                    }
                </div>
            </div>
        </div>
        <hr />
    }
}

@section Scripts {
    <script src="/js/matches.js"></script>
}