﻿
.outerContainer {
    display: none; 
    position: absolute;
    height: 20px;
    width: fit-content;
    border-style: groove;
    background-color: white;
    border-width: 1px;
    border-color: black;
}

.innerContainer{
    display:table-cell;
    vertical-align: middle;
    text-align:center;
    font-size: 12px;
}

.match-star-img {
    width: 20px;
    height: 20px;
}

.match-star {
    height: 100%;
    padding:30px;
    padding-left: 0;
}

.special-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.match-info-curr-minute{
    color: red;
}

.match-current-result{
    color: red;
}

.special-container-match {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    background-color:white;
   /* position: relative;*/
}

    .special-container-match:hover {
        background-color: lightgray;
    }

.rectangle-preview {
    width: 50px;
    height: 15px;
    border-style: groove;
    border-width: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .rectangle-preview:hover {
    background-color: dodgerblue;
    color: white;
}

.rectangle-preview, .dashes, .match-result {
    position: absolute;
    left: 50%;
    right: 50%;
}

.match-result {
    display: flex;
    flex-direction: row;
}

.match-final-result div {
    color: black;
}

.match-current-result {
    color: red;
}

.match-first-half-result div{
    color: darkgray;
    margin-left: 75%;
}

    .live-bet:hover {
        background-color: darkred;
        color: white;
    }

.match-info {
    padding: 30px;
}

.match-div{
    width:100%;
}

    .team-flag {
        width: 15px;
        height: 15px;
        padding-right: 5px;
    }

.outer-match-added-div{
    position:absolute;
    height: 20px;
    width: fit-content;
    border: 1px;
    border-style:groove;
    background-color: black;
    bottom: 10%;
    left: 45%;
    display:none;
}

.inner-match-added-div{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}

.live-bet {
    width: 40px;
    height: 20px;
    border-style: groove;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    right: 0;
}

#preview {
    display: block;
    margin: auto;
    font-size: 11px;
}


#live-match.live-bet{
    background-color: darkred;
}

#live, #bet {
    font-size: .8em;
    margin: auto;
    display: block;
}

.half-time {
    color: red;
}
